<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>{{ page.title }} | Community Resource Network</title>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/favicon.png" />
  <meta name="twitter:title" content="Community Resource Network" />
  <link rel="icon" type="image/png" sizes="607x679" href="{{ site.baseurl }}/assets/img/favicon2.png" />
  <link rel="icon" type="image/png" sizes="607x679" href="{{ site.baseurl }}/assets/img/favicon2.png" />
  <link rel="icon" type="image/png" sizes="607x679" href="{{ site.baseurl }}/assets/img/favicon2.png" />
  <link rel="icon" type="image/png" sizes="607x679" href="{{ site.baseurl }}/assets/img/favicon2.png" />
  <link rel="icon" type="image/png" sizes="607x679" href="{{ site.baseurl }}/assets/img/favicon2.png" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Contact-Form-Clean.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Features-Blue.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Footer-Basic.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Footer-Clean.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Header-Blue.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Highlight-Blue.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Navigation-with-Button.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/testimonials.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="assets/img/crn-dark-new2.png" style="height: 50px" /></a><button
        data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="volunteer">Volunteer</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="partners">Partners</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="contact">Contact</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="/about">About</a>
          </li>
          <!--<li class="nav-item" role="presentation"><a class="nav-link" href="/testimonials">Testimonials</a></li>-->
        </ul>
        <span class="navbar-text actions">
          <a class="btn btn-light action-button" role="button" href="donate">Give Now</a></span>
      </div>
    </div>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer>
    <!-- Your footer content here -->
  </footer>
  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/smart-forms.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/testimonials.js"></script>
</body>

</html>